/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #3617a6;
  --ifm-color-primary-dark: #311595;
  --ifm-color-primary-darker: #2e148d;
  --ifm-color-primary-darkest: #261074;
  --ifm-color-primary-light: #3b19b7;
  --ifm-color-primary-lighter: #3e1abf;
  --ifm-color-primary-lightest: #060312;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #f7bb49;
  --ifm-color-primary-dark: #f6b02a;
  --ifm-color-primary-darker: #f5aa1b;
  --ifm-color-primary-darkest: #d79009;
  --ifm-color-primary-light: #f8c668;
  --ifm-color-primary-lighter: #f9cc77;
  --ifm-color-primary-lightest: #fbdda5;
}
